<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
	<head>
		<title>프로젝트 수정</title>
	</head>
	<div class="container">
		<h2>프로젝트 수정</h2>
	    <form id="frm" method="post">
	    	<table class="customer_detail">
				<colgroup>
					<col width="15%"/>
					<col width="35%"/>
					<col width="15%"/>
					<col width="35%"/>
				</colgroup>
				<caption>프로젝트 수정</caption>
				<tbody>
					<tr>
						<th scope="row">프로젝트 번호</th>
						<td th:text="${project.prjCd }"></td>
						<th scope="row">프로젝트명</th>
						<td><input type="text" id="prjName" name="prjName" th:value="${project.prjName }"/></td>
					</tr>
					<tr>
						<th scope="row">고객사</th>
						<td><input type="text" id="custCom" name="custCom" th:value="${project.custCom }"/></td>
						<th scope="row">수행사</th>
						<td><input type="text" id="performCom" name="performCom" th:value="${project.performCom }"/></td>
					</tr>
					<tr>
						<th scope="row">시작일자</th>
						<td><input type="text" id="startDate" name="startDate" th:value="${project.startDate }"/></td>
						<th scope="row">종료일자</th>
						<td><input type="text" id="endDate" name="endDate" th:value="${project.endDate }"/></td>
					</tr>
					<tr>
						<th scope="row">매출금액</th>
						<td><input type="text" id="salesAm" name="salesAm" th:value="${project.salesAm }"/></td>
						<th scope="row">프로젝트상태</th>
						<td><input type="text" id="prjStat" name="prjStat" th:value="${project.prjStat }"/></td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" id="prj" name="prjCd" th:value="${project.prjCd}"/>
			<!-- 폼을 이용해서 데이터를 전송할 때 input이나 textarea의 내용만 전달된다. -->
			<!-- 기존 화면에서 글을 수정하거나 삭제할 때 꼭 필요한 글번호(projectIdx)를 input에 저장시켜 hidden으로 숨긴 채 데이터가 전송할 때 같이 보내준다. -->
		</form>
		
		<a href="#this" id="list" class="btn">목록으로</a>
		<a href="#this" id="edit" class="btn">수정하기</a>
		<a href="#this" id="delete" class="btn">삭제하기</a>
	</div>
	
	<!-- jQuery를 사용하기 위해 라이브러리 추가 -->
	<script type="text/javascript">
		$(document).ready(function(){
			$("#list").on("click", function(){
				location.href = "/project/openProjectList.do";
			});
			
			$("#edit").on("click", function(){
				var frm = $("#frm")[0];
				frm.action = "/project/updateProject.do";
				frm.submit();
			});
			
			$("#delete").on("click", function(){
				var frm = $("#frm")[0];
				frm.action = "/project/deleteProject.do";
				frm.submit();
			});
		});
	</script>
</th:block>
</html>