<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
	<th:block layout:fragment="content">
		<head>
		<meta charset="UTF-8">
			<title>프로젝트등록</title>
		</head>
		<script type="text/javascript">

			$(document).ready(function(){
				console.log("project Register in");
				
				$("#submit").click(function(){
					var frm = $("#frm").serializeArray();
					
					$.ajax({
						url : '/project/insertProject.do',           // 요청할 서버url    
						type: 'POST',
						dataType : 'json',       // 데이터 타입 (html, xml, json, text 등등)
						contentType: "application/json",
						data : JSON.stringify(objectifyForm(frm)),
						success : function(result) { // 결과 성공 콜백함수        
							console.log(result);
							location.href = result.returnUrl;
					
						},    
						error : function(request, status, error) { // 결과 에러 콜백함수        
							console.log(error)    }})	
				});
			});
			
		</script>
	<div class="container">
	    <h2>프로젝트 등록</h2>
	    <form id="frm" name="frm">
	    	<table class="customer_detail">
	    		<tr>
	    			<td class="title">프로젝트명</span></td>
	    			<td><input type="text" id="prjName" name="prjName"/></td>
	    		</tr>
	    		<tr>
	    			<td><label>고객사</label></td>
	    			<td><input type="text" id="custCom" name="custCom"/></td>
	    		</tr>
	    		<tr>
	    			<td><label>수행사</label></td>
	    			<td>
	    				<!-- TODO 추후 데이터 리스트 -->
	    				<select id="performCom" name="performCom">
	    					<option value="00">선택</option>
	    					<option value="01">SK</option>
	    					<option value="02">LG</option>
	    					<option value="03">KCC</option>
	    				</select>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td><label>시작일자</label></td>
	    			<td><input type="text" id="stDate" name="stDate"/></td>
	    		</tr>
	    		<tr>
	    			<td><label>종료일자</label></td>
	    			<td><input type="text" id="endDate" name="endDate"/></td>
	    		</tr>
	    		<tr>
	    			<td><label>매출금액</label></td>
	    			<td><input type="text" id="salesAm" name="salesAm" text-form="numeric"/></td>
	    		</tr>
	    	</table>
	    	<input type="button" id="submit" value="저장" class="btn">
	    	<a class="btn" href="/project/openProjectList.do">목록</a>
	    </form>
    </div>
</html>
