<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
	<th:block layout:fragment="content">
		<head>
			<meta charset="UTF-8">
			<title>customer</title>
			<script type="text/javascript">
		
			$(document).ready(function(){
			
				//변경버튼
				$("button[name=btn_modify]").click(function(){
					
					var val = $(this).val();
		 			
		 			var frm = $("#frm");
		 			
		 			frm.attr("action","/customer/openCustomerDetail.do");
					var inputStr = 
						"<input type='hidden' value='"+$("#customerNo"+val).text()+"' name='customerNo' />";					
					frm.html(inputStr);
					frm.serializeArray();
					frm.submit();
				});
					
			});
			
			</script>
		</head>
		<div class="container">
	    	<h2>고객 목록</h2>
	    	<table class="customer_list">
		        <colgroup>
		            <col width="6%"/>
		            <col width="7%"/>
		            <col width="10%"/>
		            <col width="6%"/>
		            <col width="12%"/>
		            <col width="12%"/>
		            <col width="8%"/>
		            <col width="*"/>
		            <col width="8%"/>
		            <col width="8%"/>
		            <col width="8%"/>
		            <col width="7%"/>
		        </colgroup>
		        <thead>
		            <tr>
		                <th scope="col">고객번호</th>
		                <th scope="col">구분</th>
		                <th scope="col">이름</th>
		                <th scope="col">구분번호</th>
		                <th scope="col">전화번호</th>
		                <th scope="col">이메일</th>
		                <th scope="col">우편번호</th>
		                <th scope="col">주소</th>
		                <th scope="col">은행</th>
		                <th scope="col">계좌번호</th>
		                <th scope="col">계산이메일</th>
		                <th scope="col">변경</th>
		            </tr>
		        </thead>
		        <tbody>
		        	<tr th:if="${#lists.size(list)} > 0" th:each="list, listStat : ${list}">    
		        	<!-- 조회된 데이터가 한 개 이상일 때 / ${list}이건 컨트롤러에서 mv객체에 받아온거 -->
		        	<!-- foreach구문처럼 반복해서 없을 때까지 가져온다. -->
		        	<!-- list변수는 each가 선언된 tr태그 내에서만 사용가능하다. -->
		        		<td><span th:text="${list.customerNo}" th:id="customerNo+${listStat.count}"></span></td>
		        		<td><span th:text="${list.section}" th:id="section+${listStat.count}"></span></td>
		        		<td><span th:text="${list.name}" th:id="name+${listStat.count}"></span></td>
						<td><span th:text="${list.pno}" th:id="pno+${listStat.count}"></span></td>
						<td><span th:text="${list.phone}" th:id="phone+${listStat.count}"></span></td>
						<td><span th:text="${list.email}" th:id="email+${listStat.count}"></span></td>
						<td><span th:text="${list.postNo}" th:id="postNo+${listStat.count}"></span></td>
						<td><span th:text="${list.address}" th:id="address+${listStat.count}"></span></td>
						<td><span th:text="${list.bank}" th:id="bank+${listStat.count}"></span></td>
						<td><span th:text="${list.accNo}" th:id="accNo+${listStat.count}"></span></td>
						<td><span th:text="${list.calcEMail}" th:id="calcEMail+${listStat.count}"></span></td>
						<td><button name="btn_modify" class="btn" th:value="${listStat.count}">변경</button></td>
		        	</tr> 
		        	<tr th:unless="${#lists.size(list)} > 0">      <!-- 조회된 데이터가 없을 때 -->
		        		<td colspan="4">조회된 결과가 없습니다.</td>
		        	</tr>
		        </tbody>
		    </table>
		    <a href="/customer/openCustomerRegister.do" class="btn">고객 등록</a>
		   	<a href="/index.html" class="btn">메인</a>
	    </div>
	    <form id="frm" name="frm"></form>
	</th:block>
</html>