<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nrs.mapper.CustomerMapper">

    <select id="selectCustomerList" resultType="com.example.nrs.dto.CustomerDto">
		<![CDATA[
			SELECT
				  customerNo
		        , section
		        , comName
		        , name
		        , pno
		        , phone
		        , email
		        , postNo
		        , address
		        , bank
		        , accNo
		        , calcEMail
			FROM
				demo.tb_customer
			ORDER BY customerNo DESC
		]]>
	</select>
    
	<insert id="insertCustomer" parameterType="com.example.nrs.dto.CustomerDto">
		<![CDATA[
			INSERT INTO tb_customer
			(
				section, 
				comName, 
				name, 
				pno,
				phone,
				email,
				postNo,
				address,
				bank,
				accNo,
				calcEMail,
				sysDate
			) 
			VALUES 
			(
				#{section},
				#{comName},
				#{name},
				#{pno},
				#{phone},
				#{email},
				#{postNo},
				#{address},
				#{bank},
				#{accNo},
				#{calcEMail},
				NOW()
			)
		]]>
	</insert>
    
    <select id="selectCustomerDetail" resultType="com.example.nrs.dto.CustomerDto">
		<![CDATA[
			SELECT
				  customerNo
		        , section
		        , comName
		        , name
		        , pno
		        , phone
		        , email
		        , postNo
		        , address
		        , bank
		        , accNo
		        , calcEMail
			FROM
				demo.tb_customer
			WHERE
				customerNo = #{customerNo}
			ORDER BY customerNo DESC
		]]>
	</select>
	
	<update id="updateCustomer" parameterType="com.example.nrs.dto.CustomerDto">
		<![CDATA[
			UPDATE
				demo.tb_customer
			SET
		          section = #{section}
		        , comName = #{comName}
		        , name    = #{name}
		        , pno     = #{pno}
		        , phone   = #{phone}
		        , email   = #{email}
		        , postNo  = #{postNo}
		        , address = #{address}
		        , bank    = #{bank}
		        , accNo   = #{accNo}
		        , calcEMail = #{calcEMail}
			WHERE
				customerNo = #{customerNo}
		]]>
	</update>
    
    <delete id="deleteCustomer" parameterType="com.example.nrs.dto.CustomerDto">
		<![CDATA[
			DELETE
			  FROM
				demo.tb_customer
			WHERE
				customerNo = #{customerNo}
		]]>
	</delete>

</mapper>