<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">


	<th:block layout:fragment="content">
		<head>
		<meta charset="UTF-8">
			<title>매입매출 등록</title>
		</head>
		<script type="text/javascript">

			$(document).ready(function(){
				console.log("project Register in");
				
				$("#submit").click(function(){
					
					var frm = $("#frm").serializeArray();
					
					$.ajax({
						url : '/massTransfer/makeMassTransfer.do',         // 요청할 서버url    
						type: 'POST',
						dataType : 'json',       // 데이터 타입 (html, xml, json, text 등등)
						contentType: "application/json",
						data : JSON.stringify(objectifyForm(frm)),
						success : function(result) { // 결과 성공 콜백함수        
							console.log(result);
							//location.href = result.returnUrl;
							alert("생성완료");
						},    
						error : function(request, status, error) { // 결과 에러 콜백함수        
							console.log(error);
						}
					});
					
				});
			});
			
		</script>
	<div class="container">
	    <h2>매량이체 파일 생성</h2>
	    <form id="frm" name="frm" method="POST">
	    	<input class="input-short" type="text" id="year" name="year"/>년
	    	<input class="input-short"  type="text" id="month" name="month"/>월
	    	<input type="button" id="submit" value="생성" class="btn">
	    	<a class="btn" href="/index.html">목록</a>
	    </form>
    </div>
</html>
