<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nrs.mapper.ProjectMapper">

    <select id="selectProjectList" resultType="com.example.nrs.dto.ProjectDto">
		<![CDATA[
			SELECT
				  prjCd
		        , prjName
		        , custCom
		        , performCom
		        , startDate
		        , endDate
		        , salesAm
		        , prjStat
			FROM
				demo.tb_project
			ORDER BY sysDate DESC
		]]>
	</select>
    
	<insert id="insertProject" parameterType="com.example.nrs.dto.ProjectDto">
		<![CDATA[
			INSERT INTO tb_project
			(
				  prjCd
		        , prjName
		        , custCom
		        , performCom
		        , startDate
		        , endDate
		        , salesAm
		        , prjStat
		        , sysDate
			) 
			VALUES 
			(
				#{prjCd},
				#{prjName},
				#{custCom},
				#{performCom},
				#{startDate},
				#{endDate},
				#{salesAm},
				#{prjStat},
				NOW()
			)
		]]>
	</insert>
    
    <select id="selectProjectIdx" resultType="int">
		<![CDATA[
			SELECT
				  count(prjCd)
			FROM
				demo.tb_project
			WHERE
				prjCd LIKE CONCAT(#{prjCd},'%')
			ORDER BY prjCd
			LIMIT 1
		]]>
	</select>
    
	<select id="selectProjectByStat" resultType="com.example.nrs.dto.ProjectDto">
		<![CDATA[
			SELECT
				  prjCd
		        , prjName
		        , custCom
		        , performCom
		        , startDate
		        , endDate
		        , salesAm
		        , prjStat
			FROM
				  demo.tb_project
			WHERE
				prjStat = #{prjStat}
			ORDER BY sysDate DESC
		]]>
	</select>
	
	<select id="selectProjectByPrjCd" resultType="com.example.nrs.dto.ProjectDto">
		<![CDATA[
			SELECT
				  prjCd
		        , prjName
		        , custCom
		        , performCom
		        , startDate
		        , endDate
		        , salesAm
		        , prjStat
			FROM
				  demo.tb_project
			WHERE
				prjCd = #{prjCd}
		]]>
	</select>
    
    <update id="updateProject" parameterType="com.example.nrs.dto.ProjectDto">
		<![CDATA[
			UPDATE
				demo.tb_project
			SET
   		          prjName 		= #{prjName}
  		        , custCom 		= #{custCom}
  		        , performCom 	= #{performCom}
  		        , startDate 	= #{startDate}
  		        , endDate 		= #{endDate}
  		        , salesAm 		= #{salesAm}
  		        , prjStat 		= #{prjStat}
			WHERE
				prjCd = #{prjCd}
		]]>
	</update>
    
    
    <delete id="deleteProject" parameterType="com.example.nrs.dto.ProjectDto">
		<![CDATA[
			DELETE
			  FROM
				demo.tb_project
			WHERE
				prjCd = #{prjCd}
		]]>
	</delete>
    

</mapper>