<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
	<th:block layout:fragment="content">
		<head>
			<title>매입매출 상세 화면</title>
		</head>
		<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<script type="module">
			import { Grid, h } from "gridjs";
		</script>
		<script type="text/javascript">
		
		$(document).ready(function(){
			
			$("#prjCd").text(sessionStorage.prjCd);
			
			var Grid = tui.Grid;
			
			var param = {
				prjCd: sessionStorage.prjCd,
				customerNo: sessionStorage.customerNo
			}
			
			$.ajax({
				url : '/trade/selectTradeDetail.do',         // 요청할 서버url    
				type: 'POST',
				dataType : 'json',       // 데이터 타입 (html, xml, json, text 등등)
				contentType: "application/json",
				data : JSON.stringify(param),
				success : function(result) { // 결과 성공 콜백함수        
					console.log(result);
					const grid = new Grid({
						  el: document.getElementById('grid'), // Container element
						  columns: [
							  {
								    header: '매출사',
								    name: 'purCom'
								  },
								  {
								    header: '매입사번호',
								    name: 'customerNo'
								  },
								  {
								    header: '매입사',
								    name: 'name'
								  },
								  {
								    header: '시작년도',
								    name: 'stYear',
								    editor: 'text'
								  },
								  {
								    header: '시작월',
								    name: 'stMonth',
								    editor: 'text'
								  },
								  {
								    header: '시작일',
								    name: 'stDay',
								    editor: 'text'
								  },
								  {
								    header: '종료년도',
								    name: 'endYear',
								    editor: 'text'
								  },
								  {
								    header: '종료월',
								    name: 'endMonth',
								    editor: 'text'
								  },
								  {
								    header: '종료일',
								    name: 'endDay',
								    editor: 'text'
								  },
								  {
								    header: '매출금액',
								    name: 'am',
								    editor: 'text'
								  },
								  {
								    header: '은행',
								    name: 'bank'
								  },
								  {
								    header: '계좌번호',
								    name: 'accNo'
								  },
								  {
								    header: '삭제',
								    name: 'delete',
							        formatter: (cell, row) => {
							          return h('button', {
							            className: 'py-2 mb-4 px-4 border rounded-md text-white bg-blue-600',
							            onClick: () => alert(`Editing "${row.cells[0].data}" "${row.cells[1].data}"`)
							          }, 'Edit');
							        }
								  }
						  ],
						  data: result.list,
						  scrollX: true,
						  scrollY: true
					});
				},    
				error : function(request, status, error) { // 결과 에러 콜백함수        
					console.log(error);
				}
			});
			
			
			$("#list").on("click", function(){
				location.href = "/trade/openTradeList.do";
			});
			
			$("#edit").on("click", function(){
				
				var modilist = new Array;
				var dellist = new Array;
				var param = {
						prjCd: $("#prjCd").text()
				}
				var cnt = 0;
				
				$("input:radio:checked").each(function() {
					
					var mode = $(this).attr("mode"); //modi OR del
					
					
					if(mode == "modi"){
						
						var listDetail = {
								mode: 		mode,
								tradeNo: 	$("#tradeNo"+$(this).val()).val(),
								prjCd: 	    $("#prjCd").text(),
								purCom: 	$("#purCom"+$(this).val()).val(),
								customerNo: $("#customerNo"+$(this).val()).val(),
								name: 		$("#name"+$(this).val()).val(),
								stYear: 	$("#stYear"+$(this).val()).val(),
								stMonth: 	$("#stMonth"+$(this).val()).val(),
								stDay: 		$("#stDay"+$(this).val()).val(),
								endYear: 	$("#endYear"+$(this).val()).val(),
								endMonth: 	$("#endMonth"+$(this).val()).val(),
								endDay: 	$("#endDay"+$(this).val()).val(),
								am: 		$("#am"+$(this).val()).val(),
								bank: 		$("#bank"+$(this).val()).val(),
								accNo: 		$("#accNo"+$(this).val()).val()
							}
						
						modilist.push(listDetail);
					}else if(mode == "del"){
						var listDetail = {
								mode:   	mode,
								tradeNo: 	$("#tradeNo"+$(this).val()).val()
							}
						dellist.push(listDetail);
					}
					
					console.log($(this).val())
					  console.log()
				});
				
				param.modiList = modilist;
				param.delList = dellist;
				
				$.ajax({
					url : '/trade/updateTrade.do',         // 요청할 서버url    
					type: 'POST',
					dataType : 'json',       // 데이터 타입 (html, xml, json, text 등등)
					contentType: "application/json",
					data : JSON.stringify(param),
					success : function(result) { // 결과 성공 콜백함수        
						console.log(result);
						location.href = result.returnUrl;
					},    
					error : function(request, status, error) { // 결과 에러 콜백함수        
						console.log(error);
					}
				});
				
				//$("input:checkbox[name:modiChk]:checked")
				//$("input[name:delChk]:checked")
				
				//var frm = $("#frm")[0];
				//frm.action = "/custoemer/updatecustoemer.do";
				//frm.submit();
			});

		});
		</script>
		<div class="container">
			<div class="headline">
				<h2>매입매출 상세 화면</h2>
				<span>프로젝트 코드:</span>
				<span id="prjCd"></span>
			</div>
				<div id="grid"></div>
				
				
		    	<!-- <table class="customer_list">
			        <colgroup>
			            <col width="9%"/>
			            <col width="8%"/>
			            <col width="6%"/>
			            <col width="10%"/>
			            <col width="10%"/>
			            <col width="12%"/>
			            <col width="6%"/>
			            <col width="10%"/>
			            <col width="5%"/>
			            <col width="5%"/>
			        </colgroup>
			        <thead>
			            <tr>
			                <th scope="col">매출사</th>
			                <th scope="col">매입사번호</th>
			                <th scope="col">매입사</th>
			                <th scope="col">시작일자</th>
			                <th scope="col">종료일자</th>
			                <th scope="col">매출금액</th>
			                <th scope="col">은행</th>
			                <th scope="col">계좌번호</th>
							<th scope="col">수정</th>
			                <th scope="col">삭제</th>
			            </tr>
			        </thead>
			        <tbody>
			        	<tr th:if="${#lists.size(list)} > 0" th:each="list, listStat : ${list}">    
			        	조회된 데이터가 한 개 이상일 때 / ${list}이건 컨트롤러에서 mv객체에 받아온거
			        	foreach구문처럼 반복해서 없을 때까지 가져온다.
			        	list변수는 each가 선언된 tr태그 내에서만 사용가능하다.
			        		<td><input class="input-mid" type="text" th:value="${list.purCom}" th:name="purCom+${listStat.count}" th:id="purCom+${listStat.count}"></td>
							<td><input class="input-short" type="text" th:value="${list.customerNo}" th:name="customerNo+${listStat.count}" th:id="customerNo+${listStat.count}"></td>
							<td><input class="input-short" type="text" th:value="${list.name}" th:name="name+${listStat.count}" th:id="name+${listStat.count}"></td>
							<td>
							<input class="input-short" type="text" th:value="${list.stYear}" th:name="stYear+${listStat.count}" th:id="stYear+${listStat.count}">
							<input class="input-shortx2" type="text" th:value="${list.stMonth}" th:name="stMonth+${listStat.count}" th:id="stMonth+${listStat.count}">
							<input class="input-shortx2" type="text" th:value="${list.stDay}" th:name="stDay+${listStat.count}" th:id="stDay+${listStat.count}">
							<td>
							<input class="input-short" type="text" th:value="${list.endYear}" th:name="endYear+${listStat.count}" th:id="endYear+${listStat.count}">
							<input class="input-shortx2" type="text" th:value="${list.endMonth}" th:name="endMonth+${listStat.count}" th:id="endMonth+${listStat.count}">
							<input class="input-shortx2" type="text" th:value="${list.endDay}" th:name="endDay+${listStat.count}" th:id="endDay+${listStat.count}">
							</td>
							<td>
								<input class="input-mid" type="text" th:value="${list.am}" th:name="am+${listStat.count}" th:id="am+${listStat.count}">
							</td>
							<td>
								<input class="input-short" type="text" th:value="${list.bank}" th:name="bank+${listStat.count}" th:id="bank+${listStat.count}">
							</td>
							<td>
								<input class="input-mid" type="text" th:value="${list.accNo}" th:name="accNo+${listStat.count}" th:id="accNo+${listStat.count}">
							</td>
							<td>
								<input type="checkbox" th:id="modiChk+${listStat.count}" name="modiChk" th:value="${listStat.count}"/>
								<input type="radio" th:name="modiChk+${listStat.count}" th:value="${listStat.count}" th:mode="modi"/>
							</td>
							<td>
								<input type="checkbox" th:id="delChk+${listStat.count}" name="delChk" th:value="${list.tradeNo}"/>
								<input type="radio"  th:name="modiChk+${listStat.count}" th:value="${listStat.count}"  th:mode="del"/>
								<input type="hidden" th:id="tradeNo+${listStat.count}" th:name="tradeNo+${listStat.count}" th:value="${list.tradeNo}"/>
							</td>
			        	</tr> 
			        	<tr th:unless="${#lists.size(list)} > 0">      조회된 데이터가 없을 때
			        		<td colspan="7">조회된 결과가 없습니다.</td>
			        	</tr>
			        </tbody>
			    </table> -->
				<!-- 폼을 이용해서 데이터를 전송할 때 input이나 textarea의 내용만 전달된다. -->
				<!-- 기존 화면에서 글을 수정하거나 삭제할 때 꼭 필요한 글번호(custoemerIdx)를 input에 저장시켜 hidden으로 숨긴 채 데이터가 전송할 때 같이 보내준다. -->
			<a href="#this" id="list" class="btn">목록으로</a>
			<a href="#" id="edit" class="btn">수정하기</a>
		</div>
	</th:block>
</html>