<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">


	<th:block layout:fragment="content">
		<head>
		<meta charset="UTF-8">
			<title>매입매출 등록</title>
		</head>
		<script type="text/javascript">

			$(document).ready(function(){
				console.log("project Register in");
				
				//TODO 데이터 세팅부 서버에서 가져와볼지도 고민
				//프로젝트 데이터 세팅
				var prjJson = JSON.parse(sessionStorage.getItem("prj"))
				   
				$("#prjCd").text(prjJson.prjCd);
				$("#prjName").text(prjJson.prjName);
				$("#custCom").text(prjJson.custCom);
				$("#performCom").text(prjJson.performCom);
				$("#stDate").text(prjJson.startDate);
				$("#enDate").text(prjJson.endDate);
				$("#salesAm").text(prjJson.salesAm);
				
				$("#submit").click(function(){
					
					var list = [];
					
					$("input:checkbox[name=custChk]:checked").each(function(){
					    if($(this).is(":checked") == true) {
					   
					    	var custChk = {
				        			"customerNo": $("#customerNo"+$(this).val()).val(),
					        		"section":$("#section"+$(this).val()).val(),
					        		"name": $("#name"+$(this).val()).val(),
					        		"pno": $("#pno"+$(this).val()).val(),
					        		"phone":$("#phone"+$(this).val()).val(),
					        		"email":$("#email"+$(this).val()).val(),
					        		"bank": $("#bank"+$(this).val()).val(),
		        					"accNo":$("#accNo"+$(this).val()).val()
					    	}
					    	
					    	list.push(custChk);
					    }
					});
					
					console.log(list);
					sessionStorage.setItem("list",JSON.stringify(list));
					
					location.href = "/trade/openTradeRegister.do";
				}); 

			});
			
		</script>
	<div class="container">
	    <h2>매입매출 등록</h2>
	    <table class="customer_list">
			<tr>
				<td><span>프로젝트코드: </span><span id="prjCd"></span></td>
				<td><span>프로젝트명: </span><span id="prjName"></span></td>
				<td><span>고객사: </span><span id="custCom"></span></td>
				<td><span>수행사: </span><span id="performCom"></span></td>
				<td><span>시작일자: </span><span id="stDate"></span></td>
				<td><span>종료일자: </span><span id="enDate"></span></td>
				<td><span>매출금액: </span><span id="salesAm"></span></td>
			</tr>
		</table>
	    <form id="frm" name="frm" action="/trade/openTradeRegister.do" method="POST">
	    	<table class="customer_list">
		        <colgroup>
		        	<col width="5%"/>
		            <col width="6%"/>
		            <col width="*"/>
		            <col width="10%"/>
		            <col width="6%"/>
		            <col width="12%"/>
		            <col width="12%"/>
		        </colgroup>
		        <thead>
		            <tr>
		            	<th scope="col">선택</th>
		                <th scope="col">고객번호</th>
		                <th scope="col">구분</th>
		                <th scope="col">이름</th>
		                <th scope="col">구분번호</th>
		                <th scope="col">전화번호</th>
		                <th scope="col">이메일</th>
		            </tr>
		        </thead>
		        <tbody>
		        	<tr th:if="${#lists.size(list)} > 0" th:each="list, listStat : ${list}">    
		        	<!-- 조회된 데이터가 한 개 이상일 때 / ${list}이건 컨트롤러에서 mv객체에 받아온거 -->
		        	<!-- foreach구문처럼 반복해서 없을 때까지 가져온다. -->
		        	<!-- list변수는 each가 선언된 tr태그 내에서만 사용가능하다. -->
		        		<td>
		        			<input type="checkbox" th:value="${listStat.count}" name="custChk">
		        			<input type="hidden" th:value="${list.customerNo}" th:id="customerNo+${listStat.count}" />
		        			<input type="hidden" th:value="${list.section}" th:id="section+${listStat.count}" />
		        			<input type="hidden" th:value="${list.name}" th:id="name+${listStat.count}" />
		        			<input type="hidden" th:value="${list.pno}" th:id="pno+${listStat.count}" />
		        			<input type="hidden" th:value="${list.phone}" th:id="phone+${listStat.count}" />
		        			<input type="hidden" th:value="${list.email}" th:id="email+${listStat.count}" />
		        			<input type="hidden" th:value="${list.bank}" th:id="bank+${listStat.count}" />
		        			<input type="hidden" th:value="${list.accNo}" th:id="accNo+${listStat.count}" />
		        		</td>
		        		<td th:text="${list.customerNo}"></td>
		        		<td th:text="${list.section}"></td>
		        		<td th:text="${list.name}"></td>
						<td th:text="${list.pno}"></td>
						<td th:text="${list.phone}"></td>
						<td th:text="${list.email}"></td>
		        	</tr> 
		        	<tr th:unless="${#lists.size(list)} > 0">      <!-- 조회된 데이터가 없을 때 -->
		        		<td colspan="4">조회된 결과가 없습니다.</td>
		        	</tr>
		        </tbody>
		    </table>
	    	<input type="button" id="submit" value="다음" class="btn">
	    	<a class="btn" href="/trade/openTradeList.do">목록</a>
	    </form>
    </div>
</html>
