<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
	<th:block layout:fragment="content">
		<head>
			<meta charset="UTF-8">
			<title>세금계산서 목록</title>
		</head>
		<script type="text/javascript">
	
		$(document).ready(function(){
			
		});
		
		</script>
		<div class="container">
			<div class="headline">
				<h2>세금계산서 목록</h2>
			</div>
	    	<table class="customer_list">
		        <thead>
		            <tr>
						<th scope="col">세금계산서종류</th>
						<th scope="col">작성일자</th>
						<th scope="col">공급자등록번호</th>
						<th scope="col">공급자</th>
						<th scope="col">종사업장번호</th>
						<th scope="col">공급자상호</th>
						<th scope="col">공급자성명</th>
						<th scope="col">공급자사업장주소</th>
						<th scope="col">공급자업태</th>
						<th scope="col">공급자종목</th>
						<th scope="col">공급자이메일</th>
						<th scope="col">공급받는자등록번호</th>
						<th scope="col">공급받는자종사업장번호</th>
						<th scope="col">공급받는자상호</th>
						<th scope="col">공급받는자성명</th>
						<th scope="col">공급받는자사업장주소</th>
						<th scope="col">공급받는자업태</th>
						<th scope="col">공급받는자종목</th>
						<th scope="col">공급받는자이메일1</th>
						<th scope="col">공급받는자이메일2</th>
						<th scope="col">공급가액</th>
						<th scope="col">세액</th>
						<th scope="col">비고</th>
						<th scope="col">일자1</th>
						<th scope="col">품목1</th>
						<th scope="col">규격1</th>
						<th scope="col">수량1</th>
						<th scope="col">단가1</th>
						<th scope="col">공급가액1</th>
						<th scope="col">세액1</th>
						<th scope="col">품목비고1</th>
						<th scope="col">현금</th>
						<th scope="col">수표</th>
						<th scope="col">어음</th>
						<th scope="col">외상미수금</th>
						<th scope="col">영수청구</th>
		            </tr>
		        </thead>
		        <tbody>
		        	<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">    
		        	<!-- 조회된 데이터가 한 개 이상일 때 / ${list}이건 컨트롤러에서 mv객체에 받아온거 -->
		        	<!-- foreach구문처럼 반복해서 없을 때까지 가져온다. -->
		        	<!-- list변수는 each가 선언된 tr태그 내에서만 사용가능하다. -->
						<td th:text="${list.taxBillNo}"></td>
					    <td th:text="${list.billType}"></td>
					    <td th:text="${list.writeDate}"></td>
					    <td th:text="${list.supNo}"></td>
					    <td th:text="${list.supKindNo}"></td>
					    <td th:text="${list.supComName}"></td>
					    <td th:text="${list.supName}"></td>
					    <td th:text="${list.supAddr}"></td>
					    <td th:text="${list.supBusin}"></td>
					    <td th:text="${list.supKind}"></td>
					    <td th:text="${list.supEMail}"></td>
					    <td th:text="${list.supiedNo}"></td>
					    <td th:text="${list.supiedKindNo}"></td>
					    <td th:text="${list.supiedComName}"></td>
					    <td th:text="${list.supiedName}"></td>
					    <td th:text="${list.supiedAddr}"></td>
					    <td th:text="${list.supiedBusin}"></td>
					    <td th:text="${list.supiedKind}"></td>
					    <td th:text="${list.supiedEMail1}"></td>
					    <td th:text="${list.supiedEMail2}"></td>
					    <td th:text="${list.supVal}"></td>
					    <td th:text="${list.taxAm}"></td>
					    <td th:text="${list.note}"></td>
					    <td th:text="${list.day1}"></td>
					    <td th:text="${list.item1}"></td>
					    <td th:text="${list.standard1}"></td>
					    <td th:text="${list.vol1}"></td>
					    <td th:text="${list.cost1}"></td>
					    <td th:text="${list.supVal1}"></td>
					    <td th:text="${list.taxAm1}"></td>
					    <td th:text="${list.itemNote1}"></td>
					    <td th:text="${list.cash}"></td>
					    <td th:text="${list.cheque}"></td>
					    <td th:text="${list.draft}"></td>
					    <td th:text="${list.unpaidCrd}"></td>
					    <td th:text="${list.receiClam}"></td>
					    <td th:text="${list.stCd}"></td>
		        	</tr> 
		        	<tr th:unless="${#lists.size(list)} > 0">      <!-- 조회된 데이터가 없을 때 -->
		        		<td colspan="7">조회된 결과가 없습니다.</td>
		        	</tr>
		        </tbody>
		    </table>
		    <!-- <a href="/trade/openTradeRegister.do" class="btn">매입매출 등록</a> -->
		    <a href="/trade/openTradePrjList.do" class="btn">매입매출 등록</a>
		    <a href="/index.html" class="btn">메인</a>
		    <a href="/excel.xls">엑셀파일 만들기</a><br/>
		    <form id="frm" name="frm"></form>
	    </div>
	</th:block>
</html>