<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">


	<th:block layout:fragment="content">
		<head>
		<meta charset="UTF-8">
			<title>프로젝트등록</title>
		</head>
		<script type="text/javascript">
			var prjParam = "";
			var custList = "";
		
			$(document).ready(function(){
				console.log("project Register in");
				
				// 연산처리
				//TODO 데이터 세팅부 서버에서 가져와볼지도 고민
				//프로젝트 데이터 세팅
				prjParam = JSON.parse(sessionStorage.getItem("prj"))
				custList = JSON.parse(sessionStorage.getItem("list"));
				
				$("#prjCd").val(prjParam.prjCd);
				$("#prjName").val(prjParam.prjName);
				$("#custCom").val(prjParam.custCom);
				$("#performCom").val(prjParam.performCom);
				$("#stDate").val(prjParam.startDate);
				$("#enDate").val(prjParam.endDate);
				$("#salesAm").val(prjParam.salesAm);
				
				var stYear = prjParam.startDate.substr(0,4);
				var stMonth = prjParam.startDate.substr(4,2);
				var stDay = prjParam.startDate.substr(6,2);
				
				var enYear = prjParam.endDate.substr(0,4);
				var enMonth = prjParam.endDate.substr(4,2);
				var enDay = prjParam.endDate.substr(6,2);
				
				//getMonth()는 0~11 return 함. 월표시하기 위해 +1 함
				var midStDate = new Date(stYear,stMonth,stDay);
				midStDate.setMonth(midStDate.getMonth()+1);
				
				var midEnDate = new Date(enYear,enMonth,enDay);
				midEnDate.setMonth(midEnDate.getMonth() - 1 -1);
				
				//개월수 차이
				var diffMonth = (Number(enYear)*12+Number(enMonth))-(Number(stYear)*12+Number(stMonth))+1;
				
				//분할금액 = 매출금액/(개월수 * 고객수)  
				var avgAm = Number(prjParam.salesAm)/(diffMonth * custList.length);
				
				//고객별 매입매출건 생성
				var htmlStr = "";
				
				for(var i=0;i<custList.length;i++){
					//개월수만큼 생성	
					for(var j=0;j<diffMonth;j++){
						var tagDate = new Date(stYear,stMonth-1,stDay);
						tagDate.setMonth(tagDate.getMonth()+j);
						
						htmlStr += 
							"<tr class='border-top'>" +
								"<td>"+
									"<input class='input-text' type='text' value='"+prjParam.prjCd+"' />"+
								"</td>"+
								"<td>"+
									"<input class='input-text' type='text' value='나눔솔루션' name='purCom' />"+
								"</td>"+
								"<td>"+
									"<input class='input-text' type='hidden' value='"+custList[i].customerNo+"' name='customerNo' />"+
									"<input class='input-text' type='text' value='"+custList[i].name+"' name='name' />"+
								"</td>"+
								"<td>"+
									"<input class='input-text' type='text' value='"+String(tagDate.getFullYear())+"' name='stYear' />"+
								"</td>"+
								"<td>"+
									"<input class='input-text' type='text' value='"+String(tagDate.getMonth()+1).padStart(2,"0")+"' name='stMonth' />"+ //첫월
								"</td>"+
								"<td>"+
									"<input class='input-text' type='text' value='"+"01"+"' name='stDay' />"+ //초일
								"</td>"+
								"<td>"+
									"<input class='input-text' type='text' value='"+String(tagDate.getFullYear())+"' name='endYear' />"+
								"</td>"+
								"<td>"+
									"<input class='input-text' type='text' value='"+String(tagDate.getMonth()+1).padStart(2,"0")+"' name='endMonth' />"+ //첫월
								"</td>"+
								"<td>"+
									"<input class='input-text' type='text' value='"+DATE.getLastDay(tagDate.getFullYear(), tagDate.getMonth()+1)+"' name='endDay' />"+ //말일
								"</td>"+
								"<td>"+
									"<input class='input-text' type='text' value='"+Math.round(avgAm)+"' name='am' />"+
								"</td>"+
								"<td>"+
									"<input class='input-text' type='text' value='"+custList[i].bank+"' name='bank' />"+
								"</td>"+
								"<td>"+
									"<input class='input-text' type='text' value='"+custList[i].accNo+"' name='accNo' />"+
								"</td>"+
							"</tr>";
					}
				
				if(i == custList.length-1){
					$("#tradeTbody").append(htmlStr);
				}
			}
				
				$("#submit").click(function(){
	
					var param = {
							prjCd: $("#prjCd").val(),
							prjName: $("#prjName").val(),
							custCom: $("#custCom").val(),
							performCom: $("#performCom").val(),
							stDate: $("#stDate").val(),
							enDate: $("#enDate").val(),
							salesAm: $("#salesAm").val()
					};
					
					var list = new Array;
 					var listCnt = $("input[name=purCom]").length;
					
					for(var i=0; i<listCnt; i++){
						
						var listDetail = {
							purCom: $($("input[name=purCom]")[i]).val(),
							customerNo: $($("input[name=customerNo]")[i]).val(),
							name: $($("input[name=name]")[i]).val(),
							stYear: $($("input[name=stYear]")[i]).val(),
							stMonth: $($("input[name=stMonth]")[i]).val(),
							stDay: $($("input[name=stDay]")[i]).val(),
							endYear: $($("input[name=endYear]")[i]).val(),
							endMonth: $($("input[name=endMonth]")[i]).val(),
							endDay: $($("input[name=endDay]")[i]).val(),
							am: $($("input[name=am]")[i]).val(),
							bank: $($("input[name=bank]")[i]).val(),
							accNo: $($("input[name=accNo]")[i]).val(),
						}
						list.push(listDetail);
					} 
					
					
					param.list = list;
					param.listCnt = listCnt;
					
					console.log(param);
					
					$.ajax({
						url : '/trade/insertTrade.do',           // 요청할 서버url    
						type: 'POST',
						dataType : 'json',       // 데이터 타입 (html, xml, json, text 등등)
						contentType: "application/json",
						data : JSON.stringify(param),
						success : function(result) { // 결과 성공 콜백함수        
							console.log(result);
							location.href = result.returnUrl;
					
						},    
						error : function(request, status, error) { // 결과 에러 콜백함수        
							console.log(error)    
					
						}
					})
				});
			});
			
		</script>
	<div class="container">
	    <h2>매입매출 등록</h2>
	    <form id="frm" name="frm">
	    	 <table class="customer_list">
				<tr>
					<td><span>프로젝트코드: </span><input type="text" id="prjCd" name="prjCd" /></td>
					<td><span>프로젝트명: </span><input type="text"  id="prjName" name="prjName"></td>
					<td><span>고객사: </span><input type="text"  id="custCom" name="custCom"></td>
					<td><span>수행사: </span><input type="text"  id="performCom" name="performCom"></td>
					<td><span>시작일자: </span><input type="text"  id="stDate" name="stDate"></td>
					<td><span>종료일자: </span><input type="text"  id="enDate" name="enDate"></td>
					<td><span>매출금액: </span><input type="text"  id="salesAm" name="salesAm"></td>
				</tr>
			</table>
	    	<table class="customer_detail" id="tradeTable">
				<colgroup>
		            <col width="10%"/>
		            <col width="10%"/>
		            <col width="10%"/>
		            <col width="6%"/>
		            <col width="5%"/>
		            <col width="5%"/>
		      		<col width="6%"/>
		            <col width="5%"/>
		            <col width="5%"/>
		            <col width="*"/>
		            <col width="8%"/>
		            <col width="15%"/>
		        </colgroup>
	    		<thead>
	    			<tr>
		            	<th scope="col">프로젝트코드</th>
		                <th scope="col">매입사</th>
		                <th scope="col">매출사</th>
		                <th scope="col">시작연도</th>
		                <th scope="col">시작월</th>
		                <th scope="col">시작일</th>
						<th scope="col">종료연도</th>
		                <th scope="col">종료월</th>
		                <th scope="col">종료일</th>
		                <th scope="col">금액</th>
						<th scope="col">은행</th>
						<th scope="col">계좌번호</th>
		            </tr>
	    		</thead>
	    		<tbody id="tradeTbody">
	    			<!--
	    			<tr>
		    			<td>
		    				<input class="input-text" type="text" value=""/>
		    			</td>
		    			<td>
		    				<input class="input-text" type="text" value=""/>
		    			</td>
		    			<td>	
		    				<input class="input-text" type="text" value=""/>
		    			</td>
		    			<td>	
		    				<input class="input-text" type="text" value=""/>
		    			</td>
		    			<td>	
		    				<input class="input-text" type="text" value=""/>
		    			</td>
		    			<td>	
		    				<input class="input-text" type="text" value=""/>
		    			</td>
		    			<td>
		    				<input class="input-text" type="text" value=""/>
		    			</td>
		    			<td>	
		    				<input class="input-text" type="text" value=""/>
		    			</td>
		    			<td>	
		    				<input class="input-text" type="text" value=""/>
		    			</td>
		    			<td>
		    				<input class="input-text" type="text" value=""/>
		    			</td>
		    		</tr>  -->
	    		</tbody>

	    	</table>
	    	<input type="button" id="submit" value="저장" class="btn">
	    	<a class="btn" href="/trade/openTradeList.do">목록</a>
	    </form>
    </div>
</html>
